.footer {
    background-color: #151948;
    padding: 100px 0 55px;
    position: relative;
    z-index: 1;
    border-style: solid;
    position: relative;
}
.edukulContainer {
    width: 900px;
    margin: 0 auto;
    max-width: 90%;
    color: white;
}
.edukulContainer::before{
    clear: both;
    display: table;
    line-height: 0;
    content: "";
}
.edukulContainer::after{
    clear: both;
}
.gutter30{
    /* margin-left: -15px;
    margin-right: -15px; */

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    font-size: 12.3px;

}

@media only screen and (max-width:550px){
    .gutter30{
        grid-template-columns: repeat(1,0.5fr);
        width: 100%;
    }
}
@media only screen and (max-width:380px){
    .gutter30{
        grid-template-columns:repeat(1,0.5fr);
    }
}